/csv.csv
/.idea
__pycache__/auth_window.cpython-312.pyc
__pycache__/auth_window.cpython-313.pyc
__pycache__/custom_q_pushbutton.cpython-312.pyc
__pycache__/custom_q_pushbutton.cpython-313.pyc
__pycache__/firebase_manager.cpython-312.pyc
__pycache__/firebase_manager.cpython-313.pyc
__pycache__/main_window.cpython-312.pyc
__pycache__/main_window.cpython-313.pyc
__pycache__/meth.cpython-312.pyc
__pycache__/meth.cpython-313.pyc
__pycache__/multi_thread.cpython-312.pyc
__pycache__/multi_thread.cpython-313.pyc
__pycache__/my_table_view.cpython-312.pyc
__pycache__/my_table_view.cpython-313.pyc
__pycache__/new_issue_list_window.cpython-312.pyc
__pycache__/new_issue_list_window.cpython-313.pyc
__pycache__/sign_in_dialog.cpython-312.pyc
__pycache__/sign_in_dialog.cpython-313.pyc
__pycache__/statics.cpython-312.pyc
__pycache__/statics.cpython-313.pyc
__pycache__/table_model.cpython-312.pyc
__pycache__/table_model.cpython-313.pyc
